@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import 'tailwindcss';

@theme {
  --breakpoint-xs: 375px;
  --breakpoint-sm: 834px;
  --breakpoint-lg: 1440px;

  --color-white: #f5f3f3;
  --color-gray: #888888;
  --color-darkGray: #263238;
  --color-black: #15161e;
  --color-darkOrange: #ff6c00;
  --color-lightOrange: rgb(255 108 0 / 30%);
  --color-bgAlpha: rgb(21 22 30 / 95%);

  --font-rye: 'Rye', serif;
  --font-playfair: 'Playfair Display', serif;
  --font-orelega: 'Orelega One', serif;

  --background-image-heroDesktop: url('/images/hero-desktop-2x.png');
  --background-image-heroTablet: url('/images/hero-tablet-2x.png');
  --background-image-heroMobile: url('/images/hero-mobile-2x.png');
  --background-image-contactsDesktop: url('/images/contacts-desktop-2x.png');
  --background-image-contactsTablet: url('/images/contacts-tablet-2x.png');
  --background-image-contactsMobile: url('/images/contacts-mobile-2x.png');
}

html {
  height: 100%;
}

body {
  font-family: 'Playfair Display', serif;
  background-color: #15161e;
  background-image: url(/images/bg-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin: 0 auto;
    padding: 16px 16px 0 16px;
  }
}

@media screen and (min-width: 834px) {
  .container {
    width: 834px;
    margin: 0 auto;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }
}

.swiper-wrapper {
  padding-bottom: 60px;
  height: 420px !important;
}

.swiper-slide {
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shadow-card {
  box-shadow: 0 4px 15px 0 rgba(70, 31, 12, 0.4);
}

.swiper-pagination-bullet {
  background: #ff6c00 !important;
  width: 12px !important;
  height: 12px !important;
}
