@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 834px) {
  .container {
    width: 834px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }
}
